@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

:root {
  --ff-primary: 'Lexend Deca', sans-serif;
  --ff-secondary: 'Big Shoulders Display', sans-serif;

  --fs-lg: 2.5rem;
  --fs-md: 0.938rem;

  --fw-bold: 700;
  --fw-regular: 400;

  --clr-bg-primary: hsl(0, 0%, 95%);
  --clr-text-headings: hsl(0, 0%, 95%);
  --clr-text-body: hsla(0, 0%, 100%, 0.75);

  --clr-bg-section-1: hsl(31, 77%, 52%);
  --clr-bg-section-2: hsl(184, 100%, 22%);
  --clr-bg-section-3: hsl(179, 100%, 13%);
}

/* typography */
body {
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  font-size: var(--fs-md);
  color: var(--clr-text-body);
}
h2 {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-bold);
  font-size: var(--fs-lg);
  color: var(--clr-text-headings);
  text-transform: uppercase;
}
.card__section a {
  text-decoration: none;
}
.card__section--sedans a {
  color: var(--clr-bg-section-1);
}
.card__section--suvs a {
  color: var(--clr-bg-section-2);
}
.card__section--luxury a {
  color: var(--clr-bg-section-3);
}

.attribution * {
  color: var(--clr-bg-section-3);
}
.attribution a:hover {
  color: var(--clr-bg-section-2);
}

/* layout */
body {
  display: grid;
  place-content: center;
  background-color: var(--clr-bg-primary);
}

main {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.card {
  display: flex;
  flex-direction: column;
}
.card__section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 3rem;
}
.card__section img {
  width: 60px;
  height: 40px;
}
.card__section a {
  width: fit-content;
  padding: 0.75rem 2rem;
  border-radius: 2rem;
  background-color: var(--clr-bg-primary);
  transition: background-color 0.25s ease-out;
}
.card__section a:hover {
  color: var(--clr-bg-primary);
  background-color: transparent;
  outline: 2px solid var(--clr-bg-primary);
  outline-offset: -2px;
}
.card__section--sedans {
  background-color: var(--clr-bg-section-1);
}
.card__section--suvs {
  background-color: var(--clr-bg-section-2);
}
.card__section--luxury {
  background-color: var(--clr-bg-section-3);
}

.attribution {
  text-align: center;
  padding-bottom: 1rem;
}

@media (min-width: 36rem) {
  main {
    max-width: 33rem;
  }
}
@media (min-width: 62rem) {
  main {
    max-width: 56rem;
    flex-direction: row;
  }
}
